#products {
  padding-top: 14.1rem;
  padding-bottom: 19.3rem;
  position: relative;
  max-width: 1440px;
  margin: 0 auto;
}
#products h2 {
  text-align: center;
  margin-bottom: 8.8rem;
}

.plant {
  width: 10rem;
  height: 12rem;
  position: absolute;
  top: -3.5rem;
  left: 0;
}

.fish {
  width: 10rem;
  height: 10rem;
  position: absolute;
  top: 8rem;
  left: 38.2rem;
}

.mashroom {
  width: 5rem;
  height: 4.37rem;
  position: absolute;
  top: 8.7rem;
  right: 19.8rem;
}

.leaf {
  width: 6rem;
  height: 9.677rem;
  position: absolute;
  top: 32.7rem;
  right: 6.8rem;
}

.chili {
  width: 13.384rem;
  height: 9.02rem;
  position: absolute;
  top: 56.4rem;
  left: 1.9rem;
}

#products .cards {
}

#products .cards div.card {
  height: 27.5rem;
  max-width: 25.6rem;
  border-radius: 25px;
  background-color: var(--pink);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 3.8rem;
  position: relative;
  margin: 6rem 3.2rem 6rem 0rem;
}

#products .cards div.card > img {
  width: 12rem;
  margin-top: -6rem;
  margin-bottom: 1.6rem;
}

#products .cards div.card button {
  border: 2px solid #cf3031;
  border-radius: 14px;
  background-color: #ffd4c9;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3.5rem;
  height: 3.5rem;
  position: absolute;
  right: 0.6rem;
  top: -1.4rem;
}

#products .cards div.card button img {
  width: 1.2rem;
}

#products .cards div.card h2 {
  font-weight: 600;
  font-size: 1.8rem;
  margin-bottom: 0.8rem;
}

#products .cards div.card p {
  font-weight: 300;
  font-size: 1.4rem;
  line-height: 2rem;
  text-align: center;

  color: var(--description);
  margin-bottom: 2.8rem;
}

#products .cards div.card h3 {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 4rem;
  margin-bottom: 2.4rem;
}

#products .cards div.card a.button {
  font-size: 1.2rem;
  display: flex;
  padding: 0.8rem 3.2rem;
}

@media (max-width: 1024px) {
  .mashroom {
    width: 5rem;
    height: 4.37rem;
    position: absolute;
    top: 8.7rem;
    right: 2rem;
  }

  .fish {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 8rem;
    left: 20rem;
  }

  .chili {
    width: 13.384rem;
    height: 9.02rem;
    position: absolute;
    top: 65.4rem;
    left: 1.9rem;
  }
}

@media (max-width: 768px) {
  .fish {
    width: 10rem;
    height: 10rem;
    position: absolute;
    top: 8rem;
    left: 14rem;
  }
}
